<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../styleSheets/home.css" />
  <title>Property-pro-lite</title>
</head>

<body>
  <nav class="nav-main">
    <div class="logo"><img class="img-logo" src="../images/logo.png" /></div>
    <ul>
      <li><a class="nav-item" href="#">Home</a></li>
      <li><a class="nav-item" href="#">CONTACT US</a></li>
    </ul>
    <div class="login hidden">
      <a class="login-link nav-item" href="login.html">login</a>
    </div>
  </nav>

  <div class="clear"></div>

  <main>
    <div class="center-element">
      <p class="hidden">
        PROPERTY-PRO-LITE, ALL YOU NEED TO RENT RIGHT AND BUY LEGIT....<br />
        <span> <a class="sign-up" href="signUp.html">SIGN UP NOW</a></span>
      </p>
      <div class="shown">
        <p class="sm-app-title">PROPERTY PRO</p>
        <p>RENT/SELL</p>
        <p>
          <a class="signUp-sm" href="signUp.html">SIGN UP NOW</a>
        </p>
        <p><button type="submit" class="login-link-sm">login</button></p>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-element">
      <div class="footer hidden-xx-sm">
        <p>Reach us at No 7 Lfi Road,<br />Bayeku Lagos</p>
      </div>
      <div class="footer hidden-xx-sm">
        <p>powered by Adjaro Ogaga</p>
      </div>
      <div class="social-media">
        <a class="social-media-link" href="">facebook</a>
        <a class="social-media-link" href="">Twiiter</a>
        <a class="social-media-link" href="">Instagram</a>
      </div>
    </div>
  </footer>
</body>
<script src="scripts/home.js"></script>

</html>