<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../stylesheets/signup.css" />
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <title>Property Pro Lite</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav-main">
        <div class="logo">
          <img class="img-logo" src="../images/logo.png" />
        </div>
        <ul>
          <li><a class="nav-item" href="#">Home</a></li>
          <li><a class="nav-item" href="#">ABOUT US</a></li>
        </ul>
        <div class="login hidden">
          <a class="login-link" href="login.html">login</a>
        </div>
      </nav>
      <main>
        <form action="" class="form">
            
          <div class="sign-up-form">
            <h1>Sign up</h1>
            <label for="email" class="label">Email</label>
            <input type="text" name="email" placeholder="" tabindex="1" />
            <label for="first_name" class="label">First Name</label>
            <input type="text" name="first_name" placeholder="" tabindex="2" />
            <label for="last_name" class="label">Last Name</label>
            <input type="text" name="last_name" placeholder="" tabindex="3" />
            <label for="phoneNumber" class="label">Phone Number</label>
            <input
              type="number"
              name="phoneNumber"
              placeholder=""
              tabindex="4"
            />
            <label for="address" class="label">Address</label>
            <input
              type="text"
              name="address"
              placeholder=""
              tabindex="4"
            />
            <label for="password" class="label"> Password</label>
            <input
              type="password"
              name="password"
              placeholder=""
              tabindex="5"
            />
            <input
              type="submit"
              name="sign-up-button"
              placeholder="SIGN UP"
              tabindex="6"
            />
          </div>
        </form>
      </main>
      <footer>
        <div class="footer-element">
          <div class="footer">
            <p>Reach us at No 7 Lfi Road,<br />Bayeku Lagos</p>
          </div>
          <div class="footer">
            <p>powered by Adjaro Ogaga</p>
          </div>
          <div class="social-media"></div>
        </div>
      </footer>
    </div>
  </body>
  <script src="scripts/home.js"></script>
</html>
